*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heaid-cnt{

    width: 60%;
    height: 12%;
    margin-left: 5%;
    /* border: 2px solid black; */
    margin-top: 2%;
    box-shadow: 2px 2px 2px 2px rgb(154, 146, 146);
    position: relative;
    border: 2px solid black;
    background-color: black;
  
}
.srch{
  
    width: 32% !important;
    margin-left: 14% !important;
    margin-top: -20px;
    margin-bottom: 15% !important;
    height: 44px !important;
    border: 2px solid rgb(208, 25, 25);
    /* box-shadow: 2px 2px 2px 2px rgb(154, 146, 146); */
    /* border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important; */
    position: absolute;
    
}

.btns{
   
    width:8% !important;
    margin-left: 43.7% !important;
    background-color:#1877F2;
    margin-top: -59px;
    height: 44px !important;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    border: none;
    height: 27px;
    position: absolute;

}
.add-to-cart{

    width:6% !important;
    margin-left: 56.5% !important;
    background-color:#1877F2;
    margin-top: -65px;
    height: 48px !important;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */

    border: none;
    background: none;
    font-size: 32px;
    color: #1877F2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 27px;
    position: absolute;


}



.food-show-cnt{

    /* width: 60%;
    display: flex;
    margin-top: 40px;
    margin-left: 15px;
    height: 82%;
    border-radius: 20px; */
    /* border: 2px solid black; */
    /* overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 10px; */

    width: 66%;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;
    margin-left: 15px;
    height: 82%;
    overflow-y: scroll;
    padding: 20px;
    /* border-radius: 20px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #086fd7; */
   
}
.food-show-cnt-best{

    /* width: 60%;
    display: flex;
    margin-top: 40px;
    margin-left: 15px;
    height: 82%;
    border-radius: 20px; */
    /* border: 2px solid black; */
    /* overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 10px; */

    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;
    margin-left: 15px;
    height: 90%;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #086fd7; */
   
}




::-webkit-scrollbar{
    display: none;
}

.foodname{
    font-size: 30px;
    color: black;
}

.cnt-food{

    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: blue;
}

/* Best Style - our recomentation  */

.text{

    width: max-content;

    margin-left: 260px !important;
   margin-bottom: 60px !important;
   font-size: 40px;

}

.right-line{

    width: 30%;
    height: 100%;
    border: 2px solid black;
}

.data-show-cnt{
    position: absolute;
    width: 33%;
    
    height: 100%;
    /* border: 2px solid black; */
    /* border: 2px solid black; */
    /* box-shadow: 2px 2px 2px 2px rgb(130, 118, 118); */
    /* background-image: url('../Image/cnt-food3.jpg'); */
    /* border-left: 2px solid purple; */
    /* border:2px solid black ; */
    /* box-shadow: 2px 2px 3px 3px gray; */
    background-size: cover;

    margin-left: 67%;
    padding-left: 20px;
    background-color: rgba(82, 5, 82, 0.853);
    background-color: white;
    color: black;
    margin-top: -54%;
    /* background-color: rgba(38, 125, 149, 0.908); */
    transition: all 0.3s  ease;
    
}

.card:hover{
    transform: scale(1.1);
}

@keyframes increseSize1 {

   0%{
    transform: scale(1);
   }
   10%{
    transform: scale(1);
    background-color: #1877F2;

   }
   20%{
    transform: scale(1.1);
   
   }
   30%{
    transform: scale(1);
   }
   80%{
    transform: scale(1);
   
}
   100%{
    transform: scale(1);
    background-color: none;

   }
    
}

@keyframes increseSize2 {

    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(1);
        background-color:   #1877F2;
    }
    20%{
        transform: scale(1);
        background-color:   #1877F2;
    }
    30%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.1);
      
    }
    50%{
        transform: scale(1);
    }
    80%{
        transform: scale(1);
       
    }
    100%{
        transform: scale(1);
    }
    
}

@keyframes increseSize3 {

    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(1);
        background-color:  rgb(8, 0, 255);
    }
    50%{
        transform: scale(1);
        background-color:  rgb(8, 0, 255);
    }
    60%{
        transform: scale(1.1);
        background-color:  rgb(8, 0, 255);
    }
    70%{
        transform: scale(1);
    }
    80%{
        transform: scale(1);
        
    }
    100%{
        transform: scale(1);
    }
    
}

.cnt-about{

    width: 100%;
    height: 14%;
    display: flex;

}

.oder-data-cnt1{
    
    width: 40%;
    height: 95%;
    /* border: 2px solid black; */
    background-color: #1877F2;
    border-radius: 20px;
    /* box-shadow: 2px 2px 2px 2px rgb(85, 30, 108); */
    
    color: azure;
    margin-left: 4%;
    margin-top: 0px;
    border: 2px solid #1877F2;
    animation: increseSize1 12s infinite;
    
}



.oder-logo1{

    height: 50%;
    width: 60%;
    border-radius: 10px;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(255, 0, 200); */
    /* border: 2px solid rgb(255, 0, 200); */
    margin-top: 5px;
    margin-left: 20%;


}

.oder-text1{

    width: 80%;
    height: 33%;
    /* border: 2px solid blue; */
    display: flex;
    margin-left: 10%;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid black; */
}

.oder-data-cnt2{
    width: 40%;
    height: 95%;
    /* border: 2px solid black; */
    background-color:#1877F2;
    border-radius: 20px;
    /* box-shadow: 2px 2px 2px 2px rgb(85, 30, 108); */
    
    color: azure;
    margin-left: 5%;
    margin-top: 0px;
    border: 2px solid #1877F2;
    animation: increseSize2 12s  infinite;
    
}

.oder-logo2{

    height: 70px;
    width: 70px;
    border-radius: 10px;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(6, 239, 10);
    border: 2px solid rgb(13, 255, 0);
    margin-top: 50px;
    margin-left: 30px;


}

.past-oder{

    width: 95%;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 0px;
    margin-left: 2.5px;
    height: 62%;
    overflow-y: scroll;
    background-color: #1877F2;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.dinner-cnt{

    width: 90%;
    height: 28%;
    /* border: 2px solid black; */
    background-color: rgb(41, 26, 43);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0%;
    margin-top: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    box-shadow: 1px 1px 2px 2px rgba(1, 111, 1, 0.985);
    background-color: rgba(1, 93, 1, 0.985);
    transition: transform 2s;

}

.dinner-cnt:active{
    transform: scale(1.1);
    background-color: rgba(3, 147, 3, 0.985);
}


.drink-cnt{

    width: 90%;
    height: 28%;
    /* border: 2px solid black; */
    background-color: rgb(41, 26, 43);
    border-radius: 20px;
    background-size: cover;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-left: 0%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    box-shadow: 1px 1px 2px 2px rgba(10, 1, 111, 0.985);
    background-color: rgba(3, 1, 93, 0.985);
    transition: transform 2s;

}

.drink-cnt:active{
    transform: scale(1.1);
    background-color: rgba(17, 15, 144, 0.985);
}

.snacks-cnt{

    
    width: 90%;
    height: 28%;
    /* border: 2px solid black; */
    background-color: rgb(41, 26, 43);
    cursor: pointer;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    box-shadow: 1px 1px 2px 2px rgba(111, 1, 93, 0.985);
    background-color: rgba(111, 1, 93, 0.985);
    transition: transform 2s;

}

.snacks-cnt:active{
    transform: scale(1.1);
    background-color:rgba(174, 4, 146, 0.985);
}


.about-us {
    width: 300px;
    height: 400px;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restaurant-image {
    width: 100%;
    height: 200px;
    background-image: url('https://i.pinimg.com/736x/a7/6c/b0/a76cb0f1ab6950f4884c8c07fb3721e4.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.restaurant-name {
    text-align: center;
    padding: 8px;
    font-size: 24px;
    color: #333;
}

.restaurant-description {
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
    color: #555;
}
.logo{

    width: 100px;
    height: 100px;
    /* border: 2px solid black; */
    position: absolute;
    margin-top: 0px;
    margin-left: 25px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/009/291/634/original/grill-logo-design-vector.jpg');
    background-size: cover;
    
}