*{
    padding: 0;
    margin: 0;

}

.reservation-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .reservation-input {
    width: 100%;
    margin-left: 10px;
  }
  
  .submit-button {
    width: 100%;
  }
  